<div class="section-pannel">
  <div class="grid row">
    <div class="col-md-12">
      <form autocomplete="off">
        <div class="row form-grid">
          <div class="col-sm-6 col-lg-2">
            <div class="input-view-flat input-group">
              <select class="form-control" name="genre">
                <option selected="true">Genero</option>
                <option>Acción</option>
                <option>Aventura</option>
                <option>Comedia</option>
                <option>Crimen</option>
                <option>Detective</option>
                <option>drama</option>
                <option>Fantasia</option>
                <option>Melodrama</option>
                <option>Romance</option>
                <option>Superheroes</option>
                <option>Supernatural</option>
                <option>Thriller</option>
                <option>Deportes</option>
                <option>Historia</option>
                <option>Horror</option>
                <option>Musica</option>
                <option>Sci-fi</option>
                <option>Guerra</option>
                <option>Oeste</option>
              </select>
            </div>
          </div>
          <div class="col-sm-6 col-lg-2">
            <div class="input-view-flat date input-group" data-toggle="datetimepicker" data-target="#release-year-field">
              <input class="datetimepicker-input form-control" id="release-year-field" name="releaseYear" type="text" placeholder="release year" data-target="#release-year-field" data-date-format="Y" />
              <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-2">
            <div class="input-view-flat input-group">
              <select class="form-control" name="sortBy">
                <option selected="true">sort by</option>
                <option>name</option>
                <option>release year</option>
                <option>rating</option>
              </select>
            </div>
          </div>
          <div class="col-sm-6 col-lg-6">
            <input #term type="text" (keyup)="search(term.value)"  class="form-control"  placeholder="Buscar"/>
          </div>

        </div>
      </form>
    </div>
  </div>
</div>


<app-loading class="m-5" *ngIf="loading"></app-loading>

<app-cards *ngIf="!loading" [items]="movies"></app-cards>
