<div class="section-pannel">
  <div class="grid row">
    <div class="col-md-12">
      <form autocomplete="off">
        <div class="row form-grid">
          <div class="col-sm-6 col-lg-2">
            <div class="input-view-flat input-group">
             <!-- generos -->
              <select (change)="(selectChangeHandler($event))"class="form-control" name="genre" id="genre" data-live-search="true">
                <option value="" disabled selected>Genero</option>
                <option [value]="item.id" *ngFor="let item of genres">{{item.name}}</option>
              </select>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="input-view-flat input-group">
              <div class="col-sm-6">
                <input type="number" min="0" pattern="[0-9]" id="minVote"  (keyup)="getMovieVotes()"  class="form-control"  placeholder="Voto mayor a"  #minVote/>
              </div>
              <div class="col-sm-6">
                <input type="number"  max="10" pattern="[0-9]" id="maxVote" (keyup)="getMovieVotes()"  class="form-control"  placeholder="Voto menor que"  #maxVote/>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-6">
            <input #term type="text" (keyup)="search(term.value)"  class="form-control"  placeholder="Buscar"/>
          </div>

        </div>
      </form>
    </div>
  </div>
</div>
<app-loading class="m-5" *ngIf="loading"></app-loading>
<app-cards *ngIf="!loading" [items]="movies"></app-cards>
